<% if friend.user == current_user %>
<tr id="<%= dom_id friend %>">
  <td>
    <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
  </td>
  <td><%= friend.email %></td>
  <td><%= friend.phone %></td>
  <td><%= friend.twitter %></td>
  <td><%= button_to "Delete", friend, method: :delete, class: "btn btn-sm btn-danger", onclick: "return confirm('Are you sure you want to delete this friend?')" %></td>
  </tr>
<% end %>